.section-blog{
      // width: 80%;

      .slick-arrow{
        background: #468280;
        width: 5%;
        height: 10%;
        border-radius: 100%;

        &:hover{
          background: #468280;
          width: 5%;
          height: 10%;
        }
      }
}

.section-blog-b{
      margin-top: 10vh;
      .slick-arrow{
        background: #468280;
        width: 3%;
        height: 10%;
        border-radius: 100%;

        &:hover{
          background: #468280;
          width: 3%;
          height: 10%;
        }
      }
}

.titulo-blog{
  text-align: center;
  font-size: 24px;
  margin-bottom: 5vh;
  margin-top: -20vh;
}

.section-blog .blog .blog-img {
    width: 100%;
    z-index: -1; }
.section-blog .blog .blog-wrap {
  position: relative;
  background: #fff;
  padding: 1.5rem;
  margin-top: -1rem;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 2;
  box-shadow: 0 8px 21px -3px rgba(0, 0, 0, 0.09);
  transition: 0.25s; }
.section-blog .blog .title a {
  font-size: 20px;
  color: #000000; }
.section-blog .blog .blog-item {
  margin-bottom: 2rem; }
.section-blog .blog .blog-item:hover .blog-wrap {
  transform: translateY(-1rem);
  background: #f84e77; }
.section-blog .blog .blog-item:hover .title a {
  font-size: 20px;
  color: #fff; }



  /*=========================
======= Blog
===========================*/
.widget-title {
  color: #1BAAA0; }

.post-wrap {
  margin-left: 20px;
  -ms-grid-column: 20px;
  margin-top: 50px; }
  .post-wrap .post-img {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(130, 136, 147, 0.1); }
    .post-wrap .post-img::after {
      content: "Ver más";
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(27, 170, 160, 0.8);
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0;
      transition: all 0.15s ease-in 0s;
      z-index: 1; }
    .post-wrap .post-img:hover::after {
      opacity: 1; }
    .post-wrap .post-img img {
      width: 100%;
      transition: .25s; }
  .post-wrap .post-content {
    position: relative;
    background: #fff;
    border-radius: 0 10px 10px 10px;
    padding: 0 0 30px;
    margin: 0 15px 30px; }
    .post-wrap .post-content .post-tag {
      margin-top: 20px;
      margin-right: .5rem;
      display: flex; }
      .post-wrap .post-content .post-tag .tag-item {
        // color: #1BAAA0;
        font-size: 13px;
        padding: 4px 18px;
        font-size: 12px;
        line-height: 1.5;
        color: white;
        text-transform: uppercase;
        background: #1BAAA0;
        border-radius: 2rem; }
        .post-wrap .post-content .post-tag .tag-item2 {
          // color: #1BAAA0;
          font-size: 13px;
          padding: 4px 18px;
          font-size: 12px;
          line-height: 1.5;
          color: white;
          // background-color: #2e2e2e;
          text-transform: uppercase;
          background: #2e2e2e;
          border-radius: 2rem; }
    .post-wrap .post-content .post-date {
      font-size: 18px;
      color: #615f6c; }
    .post-wrap .post-content .post-author {
      font-size: 18px; }
      .post-wrap .post-content .post-author a {
        color: #1BAAA0; }
    .post-wrap .post-content .post-title {
        margin-top: 22px; }
      .post-wrap .post-content .post-title a {
        color: #000;
        transition: .25s;
        font-size: 20px; }
        .post-wrap .post-content .post-title a:hover {
          color: #1BAAA0; }
    .post-wrap .post-content .post-description {
      margin-bottom: 20px; }
  .post-wrap.in-first-post {
    border-bottom: 4px solid #f2f2f2;
    margin-bottom: 30px;
    margin-top: 0; }
    .post-wrap.in-first-post .post-content {
      border-bottom: none;
      margin-bottom: 0; }
    .post-wrap.in-first-post .post-title a {
      font-size: 30px;
      line-height: 1.4; }
      @media screen and (max-width: 576px) {
        .post-wrap.in-first-post .post-title a {
          font-size: 18px; } }

.post-wrap2 {
  margin-bottom: 30px; }
  .post-wrap2 .post-img {
    position: relative;
    z-index: 0;
    overflow: hidden; }
    .post-wrap2 .post-img img {
      width: 100%;
      transition: .25s; }
  .post-wrap2 .post-content {
    position: relative;
    border-radius: 0 10px 10px 10px;
    padding: 0 0 30px; }
    .post-wrap2 .post-content .post-tag {
      margin-right: .5rem;
      display: flex; }
      .post-wrap2 .post-content .post-tag .tag-item {
        color: #1BAAA0;
        font-size: 13px;
        padding: 15px 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        color: #646464;
        text-transform: uppercase; }
    .post-wrap2 .post-content .post-date {
      font-size: 18px;
      color: #615f6c; }
    .post-wrap2 .post-content .post-author {
      font-size: 18px; }
      .post-wrap2 .post-content .post-author a {
        color: #1BAAA0; }
    .post-wrap2 .post-content .post-title {
      margin: 0 0 20px; }
      .post-wrap2 .post-content .post-title a {
        color: #000;
        transition: .25s;
        font-size: 20px; }
        .post-wrap2 .post-content .post-title a:hover {
          color: #1BAAA0; }
    .post-wrap2 .post-content .read-more {
      color: #000;
      position: relative; }
      .post-wrap2 .post-content .read-more::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        width: 25%;
        background: #1BAAA0;
        transition: .25s; }
      .post-wrap2 .post-content .read-more:hover::before {
        width: 100%; }
    .post-wrap2 .post-content .post-description {
      margin-bottom: 20px; }
  .post-wrap2.in-first-post {
    border-bottom: 4px solid #f2f2f2;
    margin-bottom: 30px;
    margin-top: 0; }
    .post-wrap2.in-first-post .post-content {
      border-bottom: none;
      margin-bottom: 0; }
    .post-wrap2.in-first-post .post-title a {
      font-size: 30px;
      line-height: 1.4; }
      @media screen and (max-width: 576px) {
        .post-wrap2.in-first-post .post-title a {
          font-size: 18px; } }
  .post-wrap2.is-dark .post-img img {
    border-radius: 10px; }
  .post-wrap2.is-dark .post-content .post-tag .tag-item {
    color: #cacaca; }
  .post-wrap2.is-dark .post-content .post-date {
    color: #ebebeb; }
  .post-wrap2.is-dark .post-content .post-author a {
    color: #1BAAA0; }
  .post-wrap2.is-dark .post-content .post-title a {
    color: white; }
    .post-wrap2.is-dark .post-content .post-title a:hover {
      color: #1BAAA0; }
  .post-wrap2.is-dark .post-content .read-more {
    color: white; }
  .post-wrap2.is-dark .post-content .post-description {
    color: white; }

    @supports(object-fit: cover){
        .post-img{
          // height: 70%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
    }
