.section-blog2 {
    margin: 30vh 0vh;
}

.section-blog2 .card-blog {
  margin: 0 0 3rem;
  border-radius: 5px;
  box-shadow: 0 15px 29px -4px #3f49621f;
  background: #ffffff;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0, 0, 0.41, 1.87); }
  .section-blog2 .card-blog .card-blog-wrap {
    padding: 2rem; }
  .section-blog2 .card-blog .img-blog {
    transition: 1s;
    width: 100%; }
  .section-blog2 .card-blog .title-blog {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    transition: 0.2s; }
  .section-blog2 .card-blog .meta-blog {
    display: flex;
    margin-top: 1rem;
    align-items: center; }
    .section-blog2 .card-blog .meta-blog .author {
      font-size: 0.9rem;
      margin-right: 1rem; }
      .section-blog2 .card-blog .meta-blog .author a {
        color: #f84e77; }
    .section-blog2 .card-blog .meta-blog .date {
      color: #a2a6ad;
      font-size: 0.8rem; }
  .section-blog2 .card-blog:hover {
    transform: translateY(0.5rem); }
    .section-blog2 .card-blog:hover .img-blog {
      filter: blur(0.1rem);
      opacity: 0.9; }
    .section-blog2 .card-blog:hover .title-blog {
      color: #f84e77; }

.section-blog2 .load-more {
  margin-top: 3rem; }
  .section-blog2 .load-more span {
    padding: 1rem 2rem;
    box-shadow: 0 15px 29px -4px #2227351f;
    border-radius: 50rem;
    transition: 0.25s;
    color: #f84e77;
    background: #ffffff; }
    .section-blog2 .load-more span:hover {
      background: rgba(248, 78, 119, 0.05);
      box-shadow: none; }

.section-blog2 .img-post {
  border-radius: 10px;
  position: relative;
  z-index: -1;
  width: 100%; }

.section-blog2 .content-post {
  overflow: hidden;
  padding: 4rem;
  margin: -8rem 4rem 0;
  background: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 29px -4px #3f49621f;
  position: relative;
  z-index: 1;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .section-blog2 .content-post {
      padding: 1rem;
      margin: -2rem 1rem 0; } }
  .section-blog2 .content-post p {
    margin-bottom: 1rem;
    font-size: 20px;}
  .section-blog2 .content-post img {
    width: 50%;
    margin: 1rem 0 2rem; }

.section-blog2 .coments-wrap {
  margin: 2rem 4rem 0;
  background: rgba(248, 78, 119, 0.1);
  padding: 4rem; }
  @media screen and (max-width: 768px) {
    .section-blog2 .coments-wrap {
      padding: 1rem;
      margin: 2rem 0 0; } }
  .section-blog2 .coments-wrap .coments-wrap-title {
    color: #f84e77;
    margin-bottom: 1rem;
    font-size: 1.3rem; }

.blog-top {
  margin-top: -70px; }
  .blog-top .card-blog .card-blog-wrap {
    padding: 1.5rem; }
  .blog-top .card-blog .title-blog {
    font-size: 20px;
    line-height: 1.3; }


.btn-enviar{
  color: #fff;
  background-color: #e851a1 !important;
  border-color: #e851a1 !important;
  margin-top: 20px;
}
