.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.slick-slide{
   height: 50% !important;
}

body{
  overflow-x: hidden;
}

.logo{
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.header{
  &__bottom{
      // animation: zoom 5s ease 0s normal both infinite;
      background-attachment: fixed;
      background-clip: border-box;
      background-color: #353031;
      background-origin: padding-box;
      background-position: 50% 15% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;
  }
}

.navegador{
  position: relative;
  text-align: center;
  background: #fdfdfd;
  // border-radius: 5px;
  // margin-top: 20px;

  &__link{
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      position: relative;
      padding: 0 30px 0 30px;

      &:last-child:after{
        background: transparent;
      }
      .links{
        transition: 0.3s ease;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0 10px;
        display: inline-block;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.79em;
        font-family: 'Special Elite', cursive;
        color: #000 !important;
        line-height: 15px;
        &:hover{
          color: #393E44;
          border-bottom: 2px solid black;
          padding: 5px 0;
        }
      }
    }
  }

}

.galeria, .acercademi, .blog{
  &__img{
    text-align: center;
    img{
      width: 50%;
    }
  }
  &__content{
    &--isabel{
      // height: 150vh;
      margin-top: -55vh;
    }
    &__titulo{
      &--primero{
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
        text-align: center;
        margin-top: 20vh;
        margin-bottom: 5vh;
        // text-decoration: underline;
      }
      &--segundo{
        text-align: center;
        margin-top: -20px;
        font-size: 20px;
      }
      &--descripcion{
        padding: 0 35vh;
        margin: 30px 0px;
        text-align: center;
        font-size: 18px;
      }
    }
    &__descripcion{
      font-size: 20px;
      // padding: 0 30vh 0px 0px;
      text-align: center;
      color: #fff;
    }
    &__list{
      list-style-type: circle;
    }
  }

}

.blog{
 &__content{
   height: 110vh;
   height: 95vh;
 }
}

.galeria{
  &__content{
    height: 180vh;
  }
}



.footer{
    display: grid;
    height: 20vh;
    align-items: center;
    text-align: center;
    background: #69beb6a1;
    &__item{
      text-align: center;
      a{
        color: #000;
        font-weight: bold;
        &:hover{
          color: #000;
          font-weight: bold;
          text-decoration: underline;

        }
      }
    }
}

.toTop #toTop {
    background-color: #156f6df5;
    right: 75px;
    border-radius: 100%;
    bottom: 15px;
    display: none;
    position: fixed;
    text-align: center;
    width: 40px;
    height: 40px;
    opacity: .9;
    z-index: 100000;
    transition: all .2s ease-in-out 0s;
    line-height: 1;
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.41, 1.87);
}

.toTop2 #toTop2 {
    background-color: #156f6df5;
    right: 75px;
    // border-radius: 100%;
    bottom: 15px;
    display: none;
    position: fixed;
    text-align: center;
    width: 90px;
    height: 40px;
    opacity: .9;
    z-index: 100000;
    transition: all .2s ease-in-out 0s;
    line-height: 1;
    padding-top: 13px;
    // animation-name: zoom;
    // animation-duration: 2s;
    // animation-iteration-count: infinite;
    // animation-timing-function: cubic-bezier(0, 0, 0.41, 1.87);
}

.toTop2 #toTop2 span{
  text-align: center;
  align-items: center;
  font-size: 15px;
  margin-top: 8px;
  color: #fff;
}

.icon-top{
    color: #ffff;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin-top: 8px;
 }

@keyframes zoom{
  0% {transform: scale(1);}
  25% {transform: scale(1.2);}
  0% {transform: scale(1);}
}
