@media (min-width:320px) and (max-width:400px){

  .logo{
    background-size: 100%;
  }

  .galeria{
    &__content{
          height: 140vh;
      &__titulo{
        &--primero{
          font-size: 50px;
          margin-bottom: 0vh;
        }
        &--descripcion{
          padding: 0 2vh;
          margin: 20px 0px;
          font-size: 16px;
        }
      }
    }
  }

  .blog{
    &__content {
        height: 80vh;
    }
  }

  .testimonio{
    .box-left{
      display: none;
    }
  }

  .acercademi{
    &__content{
      &--isabel{
        margin-top: -38vh;
      }
    }
  }

  @supports(object-fit: cover){
    .post-img {
      width: 80%;
    }
  }

  .post-wrap {
      margin-left: 40px;
  }

  .section-blog2 {
     margin: 15vh 0vh;
  }

}

@media (min-width:401px) and (max-width:500px){

  .logo{
    background-size: 100%;
  }

  .galeria-description{
    margin-top: -30px;
  }

  .logo{
    height: 75vh;
  }

  .galeria{
    &__content{
      &__titulo{

        &--descripcion{
          padding: 0;
        }
      }
    }
  }

  @supports(object-fit: cover){
    .post-img {
      width: 80%;
    }
  }

  .blog{
    &__content {
        height: 80vh;
    }
  }

  .testimonio{
    .box-left{
      display: none;
    }
  }

  .acercademi{
    &__content{
      &--isabel{
        margin-top: -50vh;
      }
    }
  }

  .post-wrap {
      margin-left: 40px;
  }

  .section-blog2 {
     margin: 15vh 0vh;
  }

}

@media (min-width:501px) and (max-width:767px){

  .logo{
    height: 75vh;
  }

  .testimonio{
    .box-left{
      display: none;
    }
  }

  .blog{
    &__content {
        height: 70vh;
    }
  }

  .galeria{
    &__content{
    height: 120vh;
      &__titulo{

        &--descripcion{
          padding: 0;
        }
      }
    }
  }

  .acercademi{
    &__content{
      &--isabel{
        margin-top: -38vh;
      }
    }
  }

  @supports(object-fit: cover){
    .post-img {
      width: 80%;
    }
  }

  .post-wrap {
      margin-left: 40px;
  }

  .section-blog2 {
     margin: 15vh 0vh;
  }


}

@media (min-width:768px) and (max-width:1023px){
  .galeria{
    &__content{
      height: 135vh;

      &__titulo{

        &--descripcion{
          padding: 0;
        }
      }
    }
  }

  .testimonio{
    .box-left{
      display: none;
    }
  }

  .acercademi{
    &__content{
      &--isabel{
        margin-top: -30vh;
      }
    }
  }


}

@media (min-width:1024px) and (max-width:1300px){
  .testimonio{
    .box-left{
      display: none;
    }
  }

}
