.testimonio{
  position: relative;
  z-index: 0;
  // top: 10vh;
}

.section.section-testimonial .client-wrap {
    padding-left: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.section.section-testimonial .client-img {
    border-radius: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.section.section-testimonial .client-img img {
    max-width: 5rem;
}

.section.section-testimonial .client-wrap.is-white .client-quote {
    color: #000;
}

.section.section-testimonial .client-quote {
    color: #fff;
    text-align: center;
    max-width: 25rem;
}

.section.section-testimonial .client-wrap.is-white .client-name {
    color: #000;
}

.section.section-testimonial .client-wrap.is-white .client-position {
    color: #000;
}

.testimonio-box{
  display: flex;
}

.testimonio .box-left {
    background-size: cover;
    height: 30pc;
    width: 30pc;
}

.testimonio .testimonio-box .box-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: 78% 0;
}

.testimonio .testimonio-box .box-right {
    background: #53aba0;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 60px;
}

.testimonio .testimonio-box .box-right .testimonial-quote {
    // flex-grow: 1;
    font-size: 20px;
    align-items: center;
    display: flex;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.testimonio .testimonio-box .box-right .logo {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.testimonio .testimonio-box .box-right .logo img {
    height: 2.5rem;
}

.testimonio .testimonio-box .box-right .title {
    text-align: center;
    margin: 30px 0;
    color: white;
}

.btn-white.btn-outline {
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    font-weight: 500;
    font-size: 20px;
    &:hover{
      color: white;
      font-weight: 500;
      font-size: 20p
    }
}

.btn:hover {
    transform: scale(1.02);
}
