
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

// Variables
@import 'variables';

//secciones
@import 'blog';
@import 'testimonio';
@import 'page';
@import 'interna';
@import 'responsive';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
